#root {
  /* padding: 2rem; */
  /* margin: 0 auto; */
  background-color: rgb(34, 32, 36);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h2 {
  padding: 20px;
  margin-bottom: 100px;
}

.content {
  margin: 70px 200px 20px 200px;
  padding: 20px 20px 20px 20px;
  background-color: #242424;
  height: auto;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  z-index: 2; /* Ensure navbar is above sidebar */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
}

.right-links {
  margin-right: 20px;
}

.right-links {
  margin-left: auto;
}

h2 {
  background-color: rgb(44, 42, 42);
  border: 1px solid #333;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #000;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

tbody td {
  padding: 10px;
  color: white;
  text-align: center;
}

tbody td:first-child {
  font-weight: bold;
}

tbody td:last-child {
  text-align: center;
}

.container-body {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 500px;
  height: auto;
}

.footer {
  background-color: #333;
  padding: 5px;
  text-align: center;
  width: 100%;
  border: 1px solid #333;
  border-radius: 10px;
}
